<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>


	<title> Weelcuhm To Saandzay </title>
</head>


<body>
	<form method="get" action="/artist" id="search-form">
		<label> Input an Artist's Name! </label>
		<input name="artist_name" placeholder="Artist" id="artist"/>
		<button type="submit"> Submit </button>
	</form>

	<script>

		var searchAlbums = function(artist){
			// $.ajax({
		 //        url: 'https://api.spotify.com/v1/search',
		 //        data: {
		 //        	q: 'Kanye',
		 //        	type: 'artist'
		 //        },
		 //        success: function (response) {
		 //            console.log(response);
		 //        }
		 //    });
		}

		// document.getElementById('search-form').addEventListener('submit', function (e) {
		//     e.preventDefault();
		//     searchAlbums(document.getElementById('artist').value);
		// }, false);
	</script>
</body>
</html>