<h3> {{ message }} </h3>
<form method="get" action="/artist" id="search-form">
	<label> Input an Artist's Name! </label>
	<input name="artist_name" placeholder="Artist" id="artist"/>
	<button type="submit"> Submit </button>
</form>