{{!-- Change to have everything static first and then change to dynamic in workshop --}}

<h2> {{name}} </h2>

<div>
	<div>
		<a>
			<img src="{{imageURL}}">
		</a>
	</div>
	<div>
		<h4>{{name}}</h4>
		<audio controls>
			<source src="{{preview}}" type="audio/ogg">
		</audio>

	</div>
</div>
